---
import Button from "@/src/components/ui/Button.astro";
---

<header
	class="flex w-full border-b border-gray-200 bg-white py-4 dark:border-neutral-700 dark:bg-neutral-800"
>
	<nav class="mx-auto flex w-full items-center justify-between px-4 lg:justify-end">
		<div
			class="flex-none text-xl font-semibold text-black lg:hidden dark:text-white"
			aria-label="Brand"
		>
			MWMA
		</div>
		<div class="flex items-center gap-x-4">
			<div
				class="mt-5 flex flex-row items-center gap-5 overflow-x-auto pb-2 sm:mt-0 sm:justify-end sm:overflow-x-visible sm:ps-5 sm:pb-0 [&::-webkit-scrollbar]:h-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500 [&::-webkit-scrollbar-track]:bg-gray-100 dark:[&::-webkit-scrollbar-track]:bg-neutral-700"
			>
				<a
					class="font-medium text-blue-500 focus:outline-hidden"
					href="#"
					aria-current="page"
					>Landing</a
				>
				<a
					class="font-medium text-gray-600 hover:text-gray-400 focus:text-gray-400 focus:outline-hidden dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500"
					href="#"
					>Link</a
				>
			</div>
			<!-- Navigation Toggle -->
			<div class="lg:hidden">
				<Button onClick={() => console.log("clicked")}>Open</Button>
			</div>
		</div>
	</nav>
</header>
