---
import { routes } from "@/lib/routes";
import { Skull } from "@lucide/astro";
---

<div
	id="hs-sidebar-basic-usage"
	class="hs-overlay hs-overlay-open:translate-x-0 fixed start-0 top-0 bottom-0 z-60 hidden h-full -translate-x-full transform border-e border-gray-200 bg-white transition-all duration-300 [--auto-close:lg] lg:relative lg:end-auto lg:bottom-0 lg:block lg:translate-x-0"
	role="dialog"
	tabindex="-1"
	aria-label="Sidebar"
>
	<div class="relative flex h-full max-h-full flex-col">
		<header class="flex items-center justify-between gap-x-2 p-4">
			<a
				class="flex-none text-xl font-semibold text-black focus:opacity-80 focus:outline-hidden"
				href="#"
				aria-label="Brand"
				>Brand</a
			>
			<div class="-me-2 lg:hidden">
				<button
					type="button"
					class="flex size-6 items-center justify-center gap-x-3 rounded-full border border-gray-200 bg-white text-sm text-gray-600 hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50"
					data-hs-overlay="#hs-sidebar-basic-usage"
				>
					<svg
						class="size-4 shrink-0"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
					>
						<path d="M18 6 6 18"></path>
						<path d="m6 6 12 12"></path>
					</svg>
					<span class="sr-only">Close</span>
				</button>
			</div>
		</header>
		<!-- End Header -->

		<!-- Body -->
		<nav
			class="h-full overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-thumb]:bg-gray-300 [&::-webkit-scrollbar-track]:bg-gray-100"
		>
			<div class="flex w-full flex-col flex-wrap px-2 pb-0">
				<ul class="space-y-1">
					{
						routes.map(({ name, path }) => (
							<li>
								<a
									class="flex w-full items-center gap-x-3.5 rounded-lg px-2.5 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden"
									href={path}
								>
									<Skull />
									{name}
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</nav>
		<!-- End Body -->
		<footer class="mt-auto border-t border-gray-200 p-2 dark:border-neutral-700">
			<!-- Account Dropdown -->
			<div
				class="hs-dropdown relative inline-flex w-full [--auto-close:inside] [--strategy:absolute]"
			>
				<button
					id="hs-sidebar-footer-example-with-dropdown"
					type="button"
					class="inline-flex w-full shrink-0 items-center gap-x-2 rounded-md p-2 text-start text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden dark:text-neutral-200 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
					aria-haspopup="menu"
					aria-expanded="false"
					aria-label="Dropdown"
				>
					<img
						class="size-5 shrink-0 rounded-full"
						src="https://images.unsplash.com/photo-1734122415415-88cb1d7d5dc0?q=80&w=320&h=320&auto=format&fit=facearea&facepad=3&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
						alt="Avatar"
					/>
					Mia Hudson
					<svg
						class="ms-auto size-3.5 shrink-0"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						><path d="m7 15 5 5 5-5"></path><path d="m7 9 5-5 5 5"></path></svg
					>
				</button>

				<!-- Account Dropdown -->
				<div
					class="hs-dropdown-menu hs-dropdown-open:opacity-100 duration z-20 hidden w-60 rounded-lg border border-gray-200 bg-white opacity-0 shadow-lg transition-[opacity,margin] dark:border-neutral-700 dark:bg-neutral-900"
					role="menu"
					aria-orientation="vertical"
					aria-labelledby="hs-sidebar-footer-example-with-dropdown"
				>
					<div class="p-1">
						<a
							class="flex items-center gap-x-3 rounded-lg px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
							href="#"
						>
							My account
						</a>
						<a
							class="flex items-center gap-x-3 rounded-lg px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
							href="#"
						>
							Settings
						</a>
						<a
							class="flex items-center gap-x-3 rounded-lg px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
							href="#"
						>
							Billing
						</a>
						<a
							class="flex items-center gap-x-3 rounded-lg px-3 py-2 text-sm text-gray-800 hover:bg-gray-100 focus:bg-gray-100 focus:outline-hidden disabled:pointer-events-none disabled:opacity-50 dark:text-neutral-300 dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
							href="#"
						>
							Sign out
						</a>
					</div>
				</div>
				<!-- End Account Dropdown -->
			</div>
			<!-- End Account Dropdown -->
		</footer>
	</div>
</div>
<!-- End Sidebar -->
