---
import Sidebar from "@/features/layout/Sidebar.astro";
import Layout from "./Layout.astro";
---

<Layout>
	<div class="grid min-h-dvh grid-cols-1 lg:grid-cols-[230px_1fr]">
		<aside class="shrink-0 border-r p-4">
			<Sidebar />
		</aside>
		<div class="flex flex-col lg:items-center">
			<nav class="p-4 lg:container">nav</nav>
			<main class="lg:container">
				<slot />
			</main>
		</div>
	</div>
</Layout>
